.user-detail{
    min-height: 350px;
}
.img{
    width: 150px;
    height: 150px;
    border-radius: 5px;
    margin-left: 10px
}

blockquote{
    margin: 30px 10px;
}

.btn-primary{
    background-color: black;
    color: white;
    padding: 15px 30px;
    margin-bottom: 20px;
}

i{
    font-size: 30px;
}